body{
    background-color: rgb(rgb(37, 34, 34), rgb(186, 255, 186), rgb(10, 10, 114));
}

h1{
    color: rgb(red);
    text-align: center;
}

h3{
    color: rgb(rgb(28, 27, 94));
    text-align: center;
}
